.act {
    overflow: scoroll;
    animation: alternate-reverse;
    background-color: rgb(29, 28, 28);
    border: 1px solid red;
    padding-bottom: 1rem;
    }
    .act img {
      width:15rem;
      height: 15rem;
      border-radius: 10px;
      margin: 4px;
    box-shadow: 2px 0px 6px 5px rgba(70, 64, 64, 0.8);
    }
    .act h2 {
      color: white;
    }