.original {
  
    /* animation: alternate-reverse; */
    background-color:rgba(0, 0, 0, 30);
    height: 20rem;
  padding-top: 40px;

}
.original img {
    width:10rem;
    height: 15rem;
padding: 5px;

}
.original img:hover {
    width: 11rem;
    height: 16rem;
}

